/* 05_웹문서구조2.html에 사용할 CSS 파일 */

/* div 경계선 확인 + box-sizing 조정 */
div {
    border: 1px solid red;

    box-sizing: border-box;
    /* width, height 속성 값의 적용 범위를 border까지로 지정
        -> content + padding + border */
}

/* 전체를 감싸고 있는 div */
.wrapper {
    width: 1000px;
    height: 800px;

    /* 해당 요소를 가로 가운데 정렬 */
    margin: auto;
}

/* header */
.header {
    width: 100%;
    height: 20%;
}

/* header 내부 div 수평 분할 */
.header-float {
    height: 100%;
    float: left;
}

/* header 내부 div 영역 크기 지정 */
#header-1 {
    width: 20%;

    position: relative;
    /* 자식 요소에 top, bottom, left, right로 위치지정 가능 */
}

#header-2 {
    width: 65%;
    
    /* 검색창을 가운데 오게 하기 위해서 추가 */
    position: relative;
}

#header-3 {
    width: 15%;
}

/* 홈 로고 스타일 */
#home-logo {
    width: 50%;
    height: auto;
    /* 기존 이미지 크기에서 width가 절반으로 감소
        -> height는 width 감소 비율 만큼 자동으로 감소 */

    position: absolute;
    margin: auto;
    top: 0; /* 부모 요소 상단에서 0px만큼 떨어져라 */
    bottom: 0;
    left: 0;
    right: 0;
}


/* nav */
.nav {
    width: 100%;
    height: 5%;
    clear: both;
}

/* content */
.content {
    width: 100%;
    height: 55%;
}

/* content 수평분할 */
.content-flaot {
    height: 100%;
    float: left;
}

/* content 영역 크기 지정 */
#content-1 { width: 15%; }
#content-2 { width: 65%; }
#content-3 { width: 20%; }

/* footer */
.footer{
    width: 100%;
    height: 20%;
}

/* 검색창 전체 */
#search-form {
    border: 1px solid red;
    width: 80%;
    height: 20%;
    
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* 검색 입력 영역 */
#search-text-area {
    height: 100%;
    width: 80%;
    float: left;
    /* 수평 분할, 왼쪽 정렬 */
}
#search-input {
    width: 100%;
    height: 100%;
    /* 
        input태그는 기본적으로 고유한 border, padding 값이 존재하여
        width, height 값을 그냥 지정할 경우 영역을 초과하게 된다.
        -> box-sizing : border-box; 를 이용하여 문제 해결
    */
    box-sizing: border-box;
}
/* 검색 버튼 영역 */
#search-btn-area {
    height: 100%;
    width: 20%;
    float: left;
    /* 수평 분할, 왼쪽 정렬 */
}
/* 검색 버튼 */
#search-btn {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}